* {
    font-family: 'Kantumruy Pro', sans-serif;
}

header {
    background: rgb(18,12,112);
    background: linear-gradient(90deg, rgba(18,12,112,1) 0%, rgba(7,7,167,1) 47%, rgba(0,212,255,1) 100%);
    color: white;
    text-shadow: 3px 2px 2px rgba(93, 93, 93, 1);
    text-align: center;
    padding: 10px 0 10px 0;
    font-weight: 800;
}

#user {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    background-color: #F7F7F7 ;
}

#input-field {
    padding: 0 5px 0 5px;
}

#user-input {
    border-radius: 5px;
    font-size: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

#search-btn{
    background-color: #368FF4;
    padding-top: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

#past-search-serperator {
    border-bottom: 1.5px solid black;
    margin: 5px 0 5px 0;
}

.cityBtn {
    background: rgb(18, 12, 112);
    background: linear-gradient(90deg, rgba(18, 12, 112, 1) 0%, rgba(7, 7, 167, 1) 47%, rgba(0, 212, 255, 1) 100%);
    border: none;
}

.btn {
    margin: 5px 0 5px 0;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
#weather-data {
    background-image: url("https://www.pixelstalk.net/wp-content/uploads/2016/07/Download-Free-Weather-Background.jpg");
}

#today-weather, .weather-card{
    background-color: white;
    text-align: center;
    border-radius: 5px;
    margin: 10px 10px 0 10px;
    padding: 5px 0 5px 0;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.date {
    font-weight: 600;
    font-size: 20px;
}

#future-weather {
    margin: 10px;
}

#city-name {
    font-weight: 800;
    font-size: 25px;
}

#future-heading {
    color: white;
    text-shadow: 3px 2px 2px rgba(93, 93, 93, 1);
}